<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/padrao.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/<? echo MOD_COR; ?>.css" rel="stylesheet" type="text/css">
<script language="javascript" src="<? echo DIR_JS; ?>/funcoes01.js"></script>
<script type="text/javascript" src="<? echo DIR_JS; ?>/calendar.js"></script>
</head>

<body>
<?
$db->titulador(MOD_COR, MOD_TITULO, $bg_cor, $bg_cor_light);
?>
<br>
<fieldset class="campo_fieldset">
<legend class="campo_fieldset_legend">Pesquisa</legend>
<table width="100%"  border="0" cellspacing="0" cellpadding="2" class="generalTable defaultBlackText">
  <form action="<? echo"$PHP_SELF?pg=$pg&pg_ped=100&Action=Pesquisar"; ?>" name="pesquisa" method="post">
    <tr>
      <td align="center" class="generalGreyBorderBottomTableHeaderCell">Empresa</td>
      <td align="center" class="generalGreyBorderBottomTableHeaderCell">De </td>
      <td align="center" class="generalGreyBorderBottomTableHeaderCell">At&eacute;</td>
      <td class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
      <td width="70%" align="center" class="generalGreyBorderBottomTableHeaderCell"><input name="pg" type="hidden" id="pg" value="<? echo $pg; ?>">
          <input name="pg_ped" type="hidden" id="pg_ped" value="100">
          <input name="Action" type="hidden" id="Action" value="Pesquisar"></td>
    </tr>
    <tr>
      <td class="noramlTableCell"><select name="empresa" class="campo_select" id="empresa" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"' onChange="DoIt(form)">
            <option selected>Escolha uma empresa ...</option>
			<option value="-1">TODAS EMPRESAS</option>
            <?
if ($rs_empresas)
{
	while (!$rs_empresas->EOF)
	{
?>
            <option value="<? echo $rs_empresas->fields['codemp']; ?>"><? echo $db->format_str("UP", $rs_empresas->fields['nome']); ?></option>
            <?
	 	$rs_empresas->MoveNext();
	}//WHILE
}
?>
        </select></td>
      <td class="noramlTableCell"><table  border="0" cellpadding="1" cellspacing="1">
        <tr>
          <td><input name="datainicio" type="text" class="campo_linha" id="datainicio" onfocus='this.style.backgroundColor=&quot;<? echo $bg_cor_light; ?>&quot;; blur()' onblur='this.style.backgroundColor=&quot;#FFFFFF&quot;' size="12" /></td>
          <td><a href="javascript:void(0);" onClick="openCalendar('pg=9', 'pesquisa', 'datainicio', 'date')"><img src="<? echo DIR_BOTOES; ?>/calendar_view_month.png" border="0" /></a></td>
        </tr>
      </table></td>
      <td class="noramlTableCell"><table  border="0" cellpadding="1" cellspacing="1">
        <tr>
          <td><input name="datafim" type="text" class="campo_linha" id="datafim" onfocus='this.style.backgroundColor=&quot;<? echo $bg_cor_light; ?>&quot;; blur()' onblur='this.style.backgroundColor=&quot;#FFFFFF&quot;' size="12" /></td>
          <td><a href="javascript:void(0);" onClick="openCalendar('pg=9', 'pesquisa', 'datafim', 'date')"><img src="<? echo DIR_BOTOES; ?>/calendar_view_month.png" border="0" /></a></td>
        </tr>
      </table></td>
      <td class="noramlTableCell"><input type="submit" name="Submit" value="Pesquisar" class="botao_cor"></td>
      <td align="center" class="noramlTableCell">&nbsp;</td>
    </tr>
  </form>
</table>
</fieldset>
<br>
<?php if($libera_sql == 2) { ?>
<fieldset class="campo_fieldset">
<legend class="campo_fieldset_legend">Resultado Pesquisa </legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <form name="lista" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=200"; ?>" method="post">
    <tr>
      <td><table width="100%"  border="0" cellspacing="0" cellpadding="2" class="generalTable defaultBlackText">
        <tr>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
          <td colspan="9" align="center" class="generalGreyBorderBottomTableHeaderCell">Planos</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
        </tr>
        <tr>
          <td width="1%" align="center" class="generalGreyBorderBottomTableHeaderCell">Cod</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Aparelho</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Controle</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Ideal</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Ideal<br>
            Micro </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Cart&atilde;o</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Ideal<br>
            75 </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Ideal<br>
            150 </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Ideal<br>
            300 </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Controle<br>
            120 </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Controle<br>
            160 </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">TOTAL</td>
        </tr>
        <?
if ($rs_lista)
{
	$ix = 0;
	while (!$rs_lista->EOF)
	{
?>
        <tr style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
          <td align="center" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;"><? echo $rs_lista->fields['codigoprod']; ?></td>
          <td class="noramlTableCell"><strong><? echo $rs_lista->fields['nomeprod']; ?></strong></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['controle'];
$total_controle = $total_controle + $rs_lista->fields['controle'];
$total_celular = $total_celular + $rs_lista->fields['controle']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['ideal'];
$total_ideal = $total_ideal + $rs_lista->fields['ideal'];
$total_celular = $total_celular + $rs_lista->fields['ideal']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['ideal_micro'];
$total_ideal_micro = $total_ideal_micro + $rs_lista->fields['ideal_micro'];
$total_celular = $total_celular + $rs_lista->fields['ideal_micro']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['cartao'];
$total_cartao = $total_cartao + $rs_lista->fields['cartao'];
$total_celular = $total_celular + $rs_lista->fields['cartao']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['ideal_75'];
$total_ideal_75 = $total_ideal_75 + $rs_lista->fields['ideal_75'];
$total_celular = $total_celular + $rs_lista->fields['ideal_75']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['ideal_150'];
$total_ideal_150 = $total_ideal_150 + $rs_lista->fields['ideal_150'];
$total_celular = $total_celular + $rs_lista->fields['ideal_150']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['ideal_300'];
$total_ideal_300 = $total_ideal_300 + $rs_lista->fields['ideal_300'];
$total_celular = $total_celular + $rs_lista->fields['ideal_300']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['controle_120'];
$total_controle_120 = $total_controle_120 + $rs_lista->fields['controle_120'];
$total_celular = $total_celular + $rs_lista->fields['controle_120']; ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->fields['controle_160'];
$total_controle_160 = $total_controle_160 + $rs_lista->fields['controle_160'];
$total_celular = $total_celular + $rs_lista->fields['controle_160']; ?></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_celular;
$total_celular = 0; ?></strong></td>
        </tr>
        <?
	 	$ix++;
		$rs_lista->MoveNext();
	}//WHILE
}
?>
        <tr style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">TOTAL</td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_controle;
$total_planos = $total_planos + $total_controle; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_ideal;
$total_planos = $total_planos + $total_ideal; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_ideal_micro;
$total_planos = $total_planos + $total_ideal_micro; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_cartao;
$total_planos = $total_planos + $total_cartao; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_ideal_75;
$total_planos = $total_planos + $total_ideal_75; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_ideal_150;
$total_planos = $total_planos + $total_ideal_150; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_ideal_300;
$total_planos = $total_planos + $total_ideal_300; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_controle_120;
$total_planos = $total_planos + $total_controle_120; ?></strong></td>
          <td align="center" class="noramlTableCell" style="background-color:<? echo $bg_cor; ?>"><strong><? echo $total_controle_160;
$total_planos = $total_planos + $total_controle_160; ?></strong></td>
          <td align="center" class="noramlTableCell"><span style="color:<? echo $bg_cor; ?>"><strong><? echo $total_planos; ?></strong></span></td>
        </tr>
      </table>
      </td>
    </tr>
  </form>
</table>
</fieldset>
<?php } ?>
</body>
</html>
