<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="<? echo DIR_CSS; ?>/saci.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/sistema.css" rel="stylesheet" type="text/css">
<link href="../../../css/saci.css" rel="stylesheet" type="text/css">
<link href="../../../css/sistema.css" rel="stylesheet" type="text/css">
<title></title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style3 {color: #000000; font-weight: bold; }
-->
</style>

</head>

<body>
<div align="right"><span class="titulonomeprod"><? echo "$codpedbarra_pesq"; ?></span><br>
  <!-- INICIO -->
</div>
<table width="100%"  border="0" cellpadding="2" cellspacing="0" class="orc_list_prod">
            <tr>
              <td class="orc_titulos">Cod</td>
              <td class="orc_titulos">Produto</td>
              <td align="center" class="orc_titulos">&nbsp;</td>
              <td align="center" class="orc_titulos">Qtde</td>
              <td align="center" class="orc_titulos">Pre&ccedil;o<br>
              (R$)</td>
            </tr>
<?
 if ($rs) {
		while (!$rs->EOF) { 
		
	if ($xtipoprod <> $rs->fields['tipoprod'])
	{
		if ($rs->fields['tipoprod'] == 'CJ')
		{
			$titulocat = "Microcomputadores";
		}
		else
		{
			$titulocat = "Produtos";
		}
?>
            <tr>
              <td colspan="5" class="titulonomeprod"><? echo "$titulocat"; ?></td>
            </tr>
<?
	}
	$xtipoprod = $rs->fields['tipoprod'];

	if ($xtipocj <> $rs->fields['tipocj'] and $rs->fields['tipoprod'] == 'CJ')
	{
		$tipocj_n = $rs->fields['tipocj'];
?>
            <tr>
              <td align="center" class="orc_config_n"><span class="orc_config_numero"><? echo $rs->fields['tipocj']; ?></span></td>
              <td colspan="4" class="orc_config_n"><br>
			  <? echo $nomeprodcj[$tipocj_n]; ?></td>
  </tr>
            <tr class="orc_list_prod">
              <td align="center">&nbsp;</td>
              <td align="right">&nbsp;</td>
              <td align="center">&nbsp;</td>
              <td align="center"><strong>Subtotal</strong></td>
              <td align="right"><strong><? echo $prod->fpreco($subtotal[$tipocj_n]); ?></strong></td>
            </tr>
<?
	}
	$xtipocj = $rs->fields['tipocj'];
	if ($rs->fields['tipoprod']== 'CJ')
	{
?>
            <tr>
              <td align="center" class="orc_list_prod"><? echo $rs->fields['codprod']; ?></td>
              <td class="orc_list_prod"><? echo $rs->fields['nomeprod']; ?><br>
                <span class="orc_descrisao"><? echo $rs->fields['descres']; ?></span></td>
              <td align="center" class="orc_list_prod"><? if($estrela[$i] == "1") {echo "<img src='".DIR_IMAGES."/estrela.gif'>";} ?></td>
              <td align="center" class="orc_list_prod"><? echo $rs->fields['qtde']; ?></td>
              <td align="right" class="orc_list_prod"><? echo $prod->fpreco($rs->fields['pput']*$rs->fields['fator_micro']); ?></td>
            </tr>
<?
	}
	else
	{
?>
            <tr>
              <td align="center" class="orc_list_prod"><? echo $rs->fields['codprod']; ?></td>
              <td class="orc_list_prod"><? echo $rs->fields['nomeprod']; ?><br>
                <span class="orc_descrisao"><? echo $rs->fields['descres']; ?></span></td>
              <td align="center" class="orc_list_prod">&nbsp;</td>
              <td align="center" class="orc_list_prod"><? echo $rs->fields['qtde']; ?></td>
              <td align="right" class="orc_list_prod"><? echo $prod->fpreco($rs->fields['pput']*$rs->fields['fator_micro']); ?></td>
            </tr>
<?
	}
 
		$rs->MoveNext();
		}//WHILE
	}
?>
            <tr>
              <td class="orc_config_n"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
              <td class="orc_config_n">&nbsp;</td>
              <td class="orc_config_n">&nbsp;</td>
              <td class="orc_config_n">&nbsp;</td>
              <td class="orc_config_n">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td align="center">&nbsp;</td>
              <td align="center"><strong>TOTAL</strong></td>
              <td align="right"><strong><? echo $prod->fpreco($total); ?></strong></td>
            </tr>
</table>

<table width="100%"  border="0" cellpadding="1" cellspacing="1">
  <tr>
    <td colspan="9" align="left" class="titulonomeprod">Forma de Pagamento </td>
  </tr>
  <tr>
    <td align="center" class="titulo"><span class="style3">TIPO</span></td>
    <td align="center" class="titulo"><span class="style3">DESCRI&Ccedil;&Atilde;O</span></td>
    <td align="center" class="titulo"><span class="style3">DATA VENC.</span></td>
    <td align="center" class="titulo"><span class="style3">VALOR </span></td>
    <td align="center" class="titulo"><span class="style3">BCO</span></td>
    <td align="center" class="titulo"><span class="style3">NUMCH</span></td>
    <td align="center" class="titulo"><strong>CX</strong></td>
    <td align="center" class="titulo"><strong>SIT</strong></td>
    <td align="center" class="titulo"><strong>SF</strong></td>
  </tr>
  <? if ($rs_parc) {
  	
		while (!$rs_parc->EOF) { 
	
		$rs_cheques = $db->query_db("SELECT codch, posfin, sf, sf_pg  FROM fin_cheques WHERE numcheq = '".$rs_parc->fields['numcheq']."' and bco = '".$rs_parc->fields['banco']."' and  codped = '$codped_pesq'","SQL_NONE","N");
		
		$rs_descricao = $db->query_db("SELECT descricao  FROM formapg WHERE opcaixa = '".$rs_parc->fields['tipo']."' ","SQL_NONE","N");
		
		if ($rs_cheques->fields['sf'] == 'OK' and $rs_cheques->fields['sf_pg'] == 'NO'){$bgtr_color = "#FEE0DE";}else{$bgtr_color = "#FFFFFF";}
				 		  
		?>
  <tr  bgcolor="<? echo $bgtr_color; ?>">
    <td align="center" valign="middle" class="sacitd2"><? echo $rs_parc->fields['tipo']; ?></td>
    <td align="center" valign="middle" class="sacitd2"><? echo $rs_descricao->fields['descricao']; ?></td>
    <td class="sacitd2"><? echo $rs_parc->UserTimeStamp($rs_parc->fields['datavenc'],'d-m-Y H:i:s'); ?></td>
    <td align="center" class="sacitd2"><? echo $rs_parc->fields['vp']; ?></td>
    <td align="center" class="sacitd2"><? echo $rs_parc->fields['banco']; ?></td>
    <td align="center" class="sacitd2"><? echo $rs_parc->fields['numcheq']; ?></td>
    <td align="center" class="sacitd2"><? echo $rs_parc->fields['parcpg']; ?></td>
    <td align="center" class="sacitd2"><? echo $rs_cheques->fields['posfin']; ?></td>
    <td align="center" class="sacitd2"><b><? echo $rs_cheques->fields['sf']; if ($rs_cheques->fields['sf'] == 'OK'){ echo " (".$rs_cheques->fields['sf_pg'].")";}?></b></td>
  </tr>
  <?

		$rs_parc->MoveNext();
		}//WHILE
	}
?>
</table>
<p>&nbsp;</p>
<p>&nbsp; </p>
</body>
</html>
