<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/padrao.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/<? echo MOD_COR; ?>.css" rel="stylesheet" type="text/css">
<script language="javascript" src="<? echo DIR_JS; ?>/funcoes01.js"></script>
<script language="javascript">

function DoIt(form)
{
	document.form.action = '<? echo"$PHP_SELF?pg=$pg&pg_ped=1&Action=pesquisa&empresa=$empresa"; ?>';
	document.form.target = '_self';
	document.form.submit();
}
</script>
</head>

<body>
<?
$db->titulador(MOD_COR, MOD_TITULO, $bg_cor, $bg_cor_light);
?>
<br>

<table width="100%"  border="0" cellspacing="0" cellpadding="2" class="generalTable defaultBlackText">
  <form name="form" method="post" target="_self" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=1&Action=pesquisa&empresa=$empresa"; ?>">
    <tr>
      <td rowspan="2" align="center" class="generalGreyBorderBottomTableHeaderCell"><img src="<? echo DIR_IMAGES; ?>/messagebox_warning.png" border="0"></td>
      <td   width="70%" class="generalGreyBorderBottomTableHeaderCell"><strong>Empresa:</strong></td>
      <td align="right"   class="generalGreyBorderBottomTableHeaderCell"><strong>Empresa Atual:</strong></td>
    </tr>
    <tr>
      <td  bgcolor="<? echo $bg_cor_light; ?>" class="noramlTableCell"><input name="pg" type="hidden" id="pg" value="<? echo $pg; ?>">
          <input name="pg_ped" type="hidden" id="pg_ped" value="<? echo $pg_ped; ?>">
          <select name="empresa" class="campo_select" id="empresa" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"' onChange="DoIt(form)">
            <option selected>Escolha uma empresa ...</option>
            <?
if ($rs_empresas)
{
	while (!$rs_empresas->EOF)
	{
?>
            <option value="<? echo $rs_empresas->fields['codemp']; ?>"><? echo $db->format_str("UP", $rs_empresas->fields['nome']); ?></option>
            <?
	 	$rs_empresas->MoveNext();
	}//WHILE
}
?>
        </select></td>
      <td align="right"  bgcolor="<? echo $bg_cor_light; ?>" class="noramlTableCell"><b><? echo $rs_empresa->fields['nome']; ?></b></td>
    </tr>
  </form>
</table>
<br>
<fieldset class="campo_fieldset">
<legend class="campo_fieldset_legend">Lista de Produtos </legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<form name="lista" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=100"; ?>" method="post">
  <tr>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="2" class="generalTable defaultBlackText">
      <tr>
        <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
        <td width="54%" align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
        <td width="8%" align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
        </tr>
      <tr>
        <td width="3%" align="center" class="generalGreyBorderBottomTableHeaderCell">Cod </td>
        <td align="center" class="generalGreyBorderBottomTableHeaderCell">Produto</td>
        <td align="center" class="generalGreyBorderBottomTableHeaderCell">Qtde</td>
        </tr>
      <?
if ($rs)
{
	while (!$rs->EOF) {
	
	
?>
      <tr style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
        <td align="center" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;"><? echo $rs->fields[0]; ?></td>
        <td class="noramlTableCell"><? echo $rs->fields[1]; ?></td>
        <td align="center" class="noramlTableCell"><strong><? echo $rs->fields[2]; ?></strong></td>
        </tr>
      <?
	 	
		
 	$rs->MoveNext();
    }//WHILE
}
?>
    </table>
      <hr size="1" noshade>
      <p>
        
        <br>
      </p>
      <table width="100%" border="0" cellpadding="2" cellspacing="2" class="generalTable defaultBlackText">
        <tr style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
          <td class="noramlTableCell">&nbsp;</td>
          </tr>
      </table></td>
  </tr>
</form>
</table>
</fieldset>
</body>
</html>