</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><table width="100%"  border="0" cellpadding="3" cellspacing="3" class="rodape">
      <tr>
        <td align="center">Copyright &copy; 2002/<?php echo date(Y); ?> - Todos os direitos reservados.<br>
      Processado em <? echo $loadpage; ?> segundos. <? echo $tipegueiprint; ?></td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<table  border="0" align="center" cellpadding="2" cellspacing="1">
  <tr>
    <td><a href="http://www.php.net" target="_blank"><img src="images/bt_php.gif" width="80" height="15" border="0"></a></td>
    <td><a href="http://www.mysql.com" target="_blank"><img src="images/bt_mysql.gif" width="80" height="15" border="0"></a></td>
    <td><a href="http://adodb.sourceforge.net/" target="_blank"><img src="images/bt_adodb.gif" width="80" height="15" border="0"></a></td>
  </tr>
</table>
<br>
</body>
</html>