/* Verificacao */
.vs_verifica {
	background-color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	width: 80%;
}
.vs_numero {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 2px;
	background-color: #305DB8;
	background-image: url(../images/fd4azul_padrao.jpg);
	background-position: 20px;
	border: 1px solid #305DB8;
}
.vs_botao_ok {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/fd5blackgrey.jpg);
	background-position: 20px;
	border: 2px ridge #4F4F4F;
}
.vs_botao_limpar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/fd5blackgrey.jpg);
	background-position: 20px;
	border: 2px ridge #4F4F4F;
}
.vs_botao_ajuda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/fd5blackgrey.jpg);
	background-position: 20px;
	border: 2px ridge #4F4F4F;
}
.vs_botao_numero {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	background-image: url(../images/fd2coresgold.jpg);
	background-position: 20px;
	border: 2px ridge #FFAA07;
	padding-top: 4px;
	padding-bottom: 4px;
}
.vs_senha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #FFFFFF;
	border: 2px solid #3160BA;
	padding: 3px;
}

/* Tabela */
.tabela {
	border: 3px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.titulo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #5582C2;
	font-weight: bold;
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(../images/fd2coresblue.jpg);
	background-position: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.titulo2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #83B7E2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-image: url(../images/fd4azul_padrao.jpg);
	padding: 0px;
}
.linhas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000000;
	padding: 3px;
	font-size: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
