
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
<link href="<? echo DIR_CSS; ?>/sistema.css" rel="stylesheet" type="text/css">
</head>

<body>

<table width="100%" border="0" align="center">
  <tr>
    <td valign="top"><table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="<? echo DIR_IMAGES; ?>/controle_de_vitrine.gif"></td>
      </tr>
      <tr>
        <td background="<? echo DIR_IMAGES; ?>/spacer.gif" bgcolor="#CDDADC"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
      </tr>
    </table>    
	     <table width="100%"  border="0" cellspacing="2" cellpadding="5">
		 
        <tr align="right">
          <td width="100%">&nbsp;</td>
        </tr>
        <tr>
          <td class="titulos_padrao">LISTA DE PRODUTOS DA VITRINE </td>
        </tr>
		
      </table>  
         <table width="100%"  border="0" align="center" cellpadding="5" cellspacing="0">
           <tr >
             <td width="50%" ><strong>EMPRESA:</strong> <? echo"$nomeemp_pesq"; ?></td>
             <td ><strong>VITRINE:</strong> <? echo"$nomevitrine_pesq"; ?></td>
           </tr>
         </table>
         <br>   
         <table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
           <tr class="titulos_itens">
             <td align="center">COD.</td>
             <td>NOME PRODUTO</td>
             <td align="center">CODBARRA</td>
             <td align="center">FLINHA</td>
           </tr>
           <?
	for($i = 0; $i < count($arrayx); $i++ ){
	
?>
           <tr onmouseover="this.bgColor='#FFDBB7'" onmouseout="this.bgColor ='#FFFFFF'" bgcolor="#FFFFFF">
             <td align="center"><b><? echo"$codprod_vitrine[$i]"; ?></b><br>
             </td>
             <td><span class="nomeprod1"><? echo"$nomeprod_vitrine[$i]"; ?></span><br>
             </td>
             <td align="center"><span class="nomeprod1"><? echo"$codbarra_vitrine[$i]"; ?></span></td>
             <td align="center"><span class="nomeprod1"><? echo"$hist_prod[$i]"; ?></span></td>
           </tr>
           <?
	}//FOR
?>
         </table>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>

</table>

<p>&nbsp;</p>
<p><BR>
</p>
<p>&nbsp;</p>

</body>
</html>
