
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Untitled Document</title>
<link href="<? echo DIR_CSS; ?>/sistema.css" rel="stylesheet" type="text/css">

<script language="JavaScript" type="text/JavaScript">
<!--

var NameArray = new Array();
var ValueArray = new Array();

<?
	for($i = 0; $i < count($arrayx); $i++ ){
?>
NameArray[<? echo"$codemp_plat[$i]"; ?>] = new Array(<? echo"$n_placam[$i]"; ?>);
ValueArray[<? echo"$codemp_plat[$i]"; ?>] = new Array(<? echo"$c_placam[$i]"; ?>);
<?
	}//FOR
?>

function changeOptions(){
 // Obtain the first dimension position of the currently selected theaterRegion
 //

 // var cjIX = document.forms["search"].cjSelect.selectedIndex;
   var cjIX = document.forms["search"].cjSelect.value;
  
  if (cjIX > 0){
   // set the length of the new multi-option
   //

   	 // CALCULA O NUMERO DE LINHAS DO FOR
    document.forms["search"].elements["placaSelect"].options.length = NameArray[cjIX].length +1;

    // LINHA INICIAL DO MENU SELECT
    document.forms["search"].elements["placaSelect"].options[0].text = "=> Selecione a Vitrine";
    document.forms["search"].elements["placaSelect"].options[0].value = "";

    for (var j=0; j < NameArray[cjIX].length; j++)
    {
      document.forms["search"].elements["placaSelect"].options[j+1].text = NameArray[cjIX][j];
      document.forms["search"].elements["placaSelect"].options[j+1].value = ValueArray[cjIX][j];
    }
   
  }
  else
  {
   // User has reselected the blank 'region' option
   //
    document.forms["search"].elements["placaSelect"].options.length = 2;
    document.forms["search"].elements["placaSelect"].options[0].text = "Selecione a Vitrine";
    document.forms["search"].elements["placaSelect"].options[0].value = "";
    document.forms["search"].elements["placaSelect"].options[1].text = "Selecione a Empresa primeiro";
    document.forms["search"].elements["placaSelect"].options[1].value = "";
  }
}


function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->



function sel() {
	with(document.form2) {
		for(i=0;i<elements.length;i++) {
			thiselm = elements[i];
			if(thiselm.name.substring(0,9) == 'ckvitrine')
				thiselm.checked = !thiselm.checked
		}
	}
}
</script>
</head>

<body>

<table width="100%" border="0" align="center">
  <tr>
    <td valign="top"><table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="<? echo DIR_IMAGES; ?>/controle_de_vitrine.gif"></td>
      </tr>
      <tr>
        <td background="<? echo DIR_IMAGES; ?>/spacer.gif" bgcolor="#CDDADC"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
      </tr>
    </table>    
	     <table width="100%"  border="0" cellspacing="2" cellpadding="5">
		  <form method="post" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=3&Action_pesq=pesquisa#pesq"; ?>" name="search" >
        <tr align="right">
          <td colspan="2"><a href="<? echo"$PHP_SELF?pg=$pg&pg_ped=&Action="; ?>"><img src="<? echo DIR_IMAGES; ?>/btvoltarcinza.gif" width="83" height="20" border="0"></a></td>
        </tr>
        <tr>
          <td colspan="2" class="titulos_padrao">RETIRADA DA VITRINE </td>
        </tr>
        <tr>
          <td width="55%" align="left"><select name=cjSelect class="campoquant1" onChange=changeOptions()>
                <option value="" selected>Selecione a Empresa</option>
<?
	for($i = 0; $i < count($arrayx); $i++ ){

?>
                <option value="<? echo"$codemp_plat[$i]"; ?>"><? echo"$nomeemp_plat[$i]"; ?></option>
 <?
	}//FOR
?>
            </select>
            <select name=placaSelect class="campoquant1">
                <option value="" selected>Selecione a Vitrine</option>
                <option value="">Selecione a Empresa primeiro</option>
            </select></td>
          <td width="45%" align="left"><input name="imageField" type="image" src="<? echo DIR_IMAGES; ?>/btokcinza.gif" width="25" height="25" border="0"></td>
        </tr>
		  </form>  
      </table>  
      <table width="100%"  border="0" align="center" cellpadding="5" cellspacing="0">
         <tr >
           <td width="25%" ><strong>EMPRESA:</strong> <? echo"$nomeemp_pesq"; ?></td>
           <td width="25%" ><strong>VITRINE:</strong> <? echo"$nomevitrine_pesq"; ?></td>
 			<td width="25%" >&nbsp;</td>
         </tr>
      </table>       
       <p>          <? if ($cjSelect <> "" and $placaSelect <>""){
	   ?>
</p>
       <table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
	    <form name="form2" method="post" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=3&Action=excluir#pesq"; ?>">
         <tr class="titulos_itens">
           <td align="center"><input type="checkbox" name="checkbox22" value="checkbox" id ="checkbox2" onclick="sel()"></td>
           <td align="center">COD.</td>
           <td>NOME PRODUTO</td>
           <td align="center">CODBARRA</td>
         </tr>
         <?
	for($j = 0; $j < count($arrayx1); $j++ ){
?>
         <tr onmouseover="this.bgColor='#FFDBB7'" onmouseout="this.bgColor ='#FFFFFF'" bgcolor="#FFFFFF">
           <td align="center"><input type="checkbox" name="ckvitrine<? echo"[$j]"?>" value="<? echo "$codcb_vitrine[$j]";?>" ></td>
           <td align="center"><b><? echo"$codprod_vitrine[$j]"; ?></b><br>
           </td>
           <td><span class="nomeprod1"><? echo"$nomeprod_vitrine[$j]"; ?></span><br>
           </td>
           <td align="center"><span class="nomeprod1"><? echo"$codbarra_vitrine[$j]"; ?></span></td>
         </tr>
        
        
         <?
	}//FOR
?>  
 <tr onmouseover="this.bgColor='#FFDBB7'" onmouseout="this.bgColor ='#FFFFFF'" bgcolor="#FFFFFF">
           <td align="center">&nbsp;</td>
           <td align="center">&nbsp;</td>
           <td>&nbsp;</td>
           <td align="center">&nbsp;</td>
         </tr>
 <tr onmouseover="this.bgColor='#FFDBB7'" onmouseout="this.bgColor ='#FFFFFF'" bgcolor="#FFFFFF">
           <td align="center">&nbsp;</td>
           <td align="center">&nbsp;</td>
           <td align="center"><input type="submit" name="Submit" value="RETIRAR DA VITRINE"></td>
           <td align="center">&nbsp;</td>
         </tr>
		    <input type="hidden" name="cjSelect" value="<? echo"$cjSelect" ?>">
		   <input type="hidden" name="placaSelect" value = "<? echo"$placaSelect" ?>">
		    <input type="hidden" name="cont" value = "<? echo"$j" ?>">
		 
</form>
       </table>      
      
         
       
    
	  <?}?>
    </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>

</table>

<p>&nbsp;</p>
<p><BR>
</p>
<p>&nbsp;</p>

</body>
</html>
