<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Detalhes do Produto</title>
<link href="<? echo DIR_CSS; ?>/sistema.css" rel="stylesheet" type="text/css">
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" rowspan="4" align="center" valign="middle"><img src='images_prod/<? echo"$imgname"; ?>'></td>
    <td class="amarelonegrito"><p>COD.:<? echo"$codprod"; ?><br>
      </p>
    </td>
  </tr>
  <tr>
    <td class="titulonomeprod"><? echo"$nomeprod"; ?></td>
  </tr>
  <tr>
    <td class="nomeprod2"><? echo"$descres"; ?></td>
  </tr>
  <tr>
    <td class="carrinhovazio">R$ <? echo"$precof"; ?></td>
  </tr>
</table>
<table width="100%" border="0" cellPadding="5" cellSpacing="2">
  <tr>
    <td><a name="topomenu"></a><br>
      <table cellSpacing="0" cellPadding="0" width="100%" border="0">
        <tbody>
          <tr>
            <td><img src="<? echo DIR_IMAGES; ?>/title_saiba_mais.gif" align="left" width="113" height="17"></td>
          </tr>
          <tr>
            <td class="label" background="<? echo DIR_IMAGES; ?>/bg_label.gif" height="24"><img height="8" src="<? echo DIR_IMAGES; ?>/spacer_trans.gif" width="10">
              <a class="label" href="#especificacoes">Especificações</a>&nbsp;|&nbsp;&nbsp;<a class="label" href="#requisitos">Requisitos</a>&nbsp;|&nbsp;&nbsp;<a class="label" href="#dadostecnicos">Dados
              Técnicos</a>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </td>
  <tr>
    <td><a name="especificacoes"></a><br>
      <table cellSpacing="0" cellPadding="0" width="100%" border="0">
        <tbody>
          <tr>
            <td><img src="<? echo DIR_IMAGES; ?>/label_especificacoes_on.gif" border="0" width="97" height="22"></td>
            <td class="label" align="right" width="100%" background="<? echo DIR_IMAGES; ?>/label_bg.gif"><a href="#topomenu"><img src="<? echo DIR_IMAGES; ?>/bot_voltartopo.gif" border="0" valign="bottom" width="112" height="19"></a></td>
          </tr>
        </tbody>
      </table>
      <? echo"$descdet"; ?>
    </td>
  </tr>
  <tr>
    <td class="text">&nbsp;</td>
  </tr>
  <tr>
    <td><img height="10" src="<? echo DIR_IMAGES; ?>/spacer_trans.gif" width="7" border="0"></td>
  </tr>
  <tr>
    <td><a name="requisitos"></a><br>
      <table cellSpacing="0" cellPadding="0" width="100%" border="0">
        <tbody>
          <tr>
            <td><img src="<? echo DIR_IMAGES; ?>/label_reqbasicos_on.gif" border="0" width="75" height="22"></td>
            <td class="label" align="right" width="100%" background="<? echo DIR_IMAGES; ?>/label_bg.gif"><a href="#topomenu"><img src="<? echo DIR_IMAGES; ?>/bot_voltartopo.gif" border="0" valign="bottom" width="112" height="19"></a></td>
          </tr>
        </tbody>
      </table>
      <br>
    </td>
  </tr>
  <tr>
    <td class="text">&nbsp;</td>
  </tr>
  <tr>
    <td class="textb"></td>
  </tr>
  <tr>
    <td><img height="10" src="<? echo DIR_IMAGES; ?>/spacer_trans.gif" width="7" border="0"></td>
  </tr>
  <tr>
    <td><a name="dadostecnicos"></a><br>
      <table cellSpacing="0" cellPadding="0" width="100%" border="0">
        <tbody>
          <tr>
            <td><img src="<? echo DIR_IMAGES; ?>/label_dadostecnicos_on.gif" border="0" width="100" height="22"></td>
            <td class="label" align="right" width="100%" background="<? echo DIR_IMAGES; ?>/label_bg.gif"><a href="#topomenu"><img src="<? echo DIR_IMAGES; ?>/bot_voltartopo.gif" border="0" valign="bottom" width="112" height="19"></a></td>
          </tr>
        </tbody>
      </table>
      <br>
    </td>
  </tr>
  <tr>
    <td class="text">
      <blockquote>        <br>
      </blockquote>
    </td>
  </tr>
  <tr>
    <td><img height="10" src="<? echo DIR_IMAGES; ?>/spacer_trans.gif" width="7" border="0"></td>
  </tr>
</table>

</body>

</html>
