<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/pesquisa.css" rel="stylesheet" type="text/css">
<link href="../../../css/pesquisa.css" rel="stylesheet" type="text/css">
</head>


<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div align="right"></div></td>
  </tr>
  <tr>
    <td bgcolor="#669900"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" cellpadding="2" cellspacing="2">
  
    <tr>
      <td align="center">
       
       <iframe src="<? echo"$PHP_SELF?pg=$pg&pg_ped=2&Action=pesquisa_vpropag&Action_alter=$Action_alter&tipo_orc_view=$tipo_orc&codvend_view=$codvendselect&codemp_view=$codempselect&menu_not=1"; ?>" name="pesquisa" width="60%" marginwidth="0" height="220" marginheight="0" scrolling="no" frameborder="0"></iframe>
   </td>
    </tr>
</table>
</body>
</html>
