<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/usados.css" rel="stylesheet" type="text/css">
<script language=JavaScript>
function VerImagem(codusado, altura, largura)
{
	var altura1 = altura*1.10;
	var largura1 = largura*1.10;
	
	window.open('<? echo "http://" . $_SERVER['HTTP_HOST']. dirname($_SERVER['PHP_SELF']). $bar. "restrito.php?pg=$pg&pg_ped=6&menu_not=1&codusadoselect="; ?>' + codusado +'','popup_view','width='+largura1+', height='+altura1+', scrollbars=yes, resizable=no');
}
</script>
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="<? echo DIR_IMAGES; ?>/produtos_usados_admin_ind.gif"></td>
  </tr>
  <tr>
    <td bgcolor="#666699"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
  </tr>
</table>
<br>

<table  border="0" cellspacing="3" cellpadding="2">
  <tr>
    <td><a href="<? echo "$PHP_SELF?pg=$pg&pg_ped=3"; ?>"><img src="<? echo DIR_IMAGES; ?>/bt_inserir_produtos_usados.gif" width="125" height="30" border="0"></a></td>
    <td><a href="<? echo "$PHP_SELF?pg=$pg&pg_ped=2"; ?>"><img src="<? echo DIR_IMAGES; ?>/bt_ver_sol_usados.gif" width="107" height="30" border="0"></a></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <form action="<? echo "$PHP_SELF?pg=$pg&pg_ped=1&Action=Pesquisar"; ?>" method="post" name="form">
    <tr>
      <td class="titulo_tb_acai">Pesquisar por:</td>
    </tr>
    <tr>
      <td class="contorno_td1"><table  border="0" cellpadding="1" cellspacing="1">
          <tr>
            <td><strong>Cod.</strong></td>
            <td><strong>Produto</strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><input name="pesqcod" type="text" class="input3" id="pesqcod" size="6"></td>
            <td><input name="pesqproduto" type="text" class="input3" id="pesqproduto"></td>
            <td><input name="Submit" type="submit" class="input2" value="Pesquisar"></td>
          </tr>
      </table></td>
    </tr>
  </form>
</table>
<br>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="titulo_especial">Produtos</td>
  </tr>
  <tr>
    <td bgcolor="#666699"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="10" height="10"></td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="1" cellspacing="2">
  <tr>
    <td align="center" class="titulo_tb_acai"><strong>Cod.</strong></td>
    <td class="titulo_tb_acai">Produto/Descri&ccedil;&atilde;o</td>
    <td class="titulo_tb_acai"><strong>Pre&ccedil;o</strong></td>
    <td width="15" class="titulo_tb_acai">&nbsp;</td>
    <td width="15" class="titulo_tb_acai">&nbsp;</td>
    <td width="15" class="titulo_tb_acai">&nbsp;</td>
  </tr>
  <?	for($i = 0; $i < count($arrayx); $i++ ){ ?>
  <tr valign="top">
	<td rowspan="2" align="center" class="conteudo_td1"><a href="javascript:void(0);" onClick="VerImagem(<? echo "$codusado_list[$i]"; ?>, <? echo "$imgaltura_list[$i]"; ?>, <? echo "$imglargura_list[$i]"; ?>);"><? echo "$codusado_list[$i]"; ?></a></td>
    <td class="conteudo_td1"><strong><? echo "$nomeprod_list[$i]"; ?></strong></td>
    <td rowspan="2" class="conteudo_td1"><? echo "$ppuprod_list[$i]"; ?></td>
    <td rowspan="2" align="center" class="conteudo_td1"><a href="<? echo "$PHP_SELF?pg=$pg&pg_ped=5&codusadoselect=$codusado_list[$i]"; ?>"><img src="<? echo DIR_IMAGES; ?>/b_edit.png" width="16" height="16" border="0"></a></td>
    <td rowspan="2" align="center" class="conteudo_td1"><a href="<? echo "$PHP_SELF?pg=$pg&pg_ped=1&codusadoselect=$codusado_list[$i]&Action=Excluir"; ?>" onclick="return confirm ('Deseja apagar este Produto?');"><img src="<? echo DIR_IMAGES; ?>/b_drop.png" width="16" height="16" border="0"></a></td>
    <td rowspan="2" align="center" class="conteudo_td1"><a href="<? echo "$PHP_SELF?pg=$pg&pg_ped=4&codusadoselect=$codusado_list[$i]"; ?>"><img src="<? echo DIR_IMAGES; ?>/b_props.png" width="16" height="16" border="0"></a></td>
  </tr>
  <tr valign="top">
    <td class="conteudo_td1"><? echo "$descricaoprod_list[$i]"; ?></td>
  </tr>
  <? }//FOR ?>
</table>
</body>
</html>
