<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/usados.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="<? echo DIR_IMAGES; ?>/produtos_usados_admin_ind.gif"></td>
  </tr>
  <tr>
    <td bgcolor="#666699"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
  </tr>
</table>
<br>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="titulo_especial">Adicionar Solicita&ccedil;&atilde;o </td>
    <td width="100" align="center"><a href="<? echo "$PHP_SELF?pg=$pg&pg_ped=1"; ?>"><img src="<? echo DIR_IMAGES; ?>/btvoltarcinza.gif" width="83" height="20" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#666699"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td colspan="2"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="10" height="10"></td>
  </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <form action="<? echo "$PHP_SELF?pg=$pg&pg_ped=1&Action=AddSol"; ?>" method="post" name="add_prod">
    <tr>
      <td class="label_campo1">Nome Produto</td>
    </tr>
    <tr>
      <td class="conteudo_td1"><? echo $nomeprod_list; ?>
        <input name="codusadoselect" type="hidden" id="codusadoselect" value="<? echo $codusado_list; ?>"></td>
    </tr>
    <tr>
      <td class="label_campo1">Nome Cliente </td>
    </tr>
    <tr>
      <td><input name="nomecliente" type="text" class="input3" id="nomecliente" value="" size="40" maxlength="80"></td>
    </tr>
    <tr>
      <td class="label_campo1">Telefone Cliente</td>
    </tr>
    <tr>
      <td>(
        <input name="dddtel" type="text" class="input3" id="dddtel" size="2" maxlength="2">
        )
          <input name="tel" type="text" class="input3" id="tel" size="9" maxlength="8"></td>
    </tr>
    <tr>
      <td class="label_campo1">Observa&ccedil;&otilde;es</td>
    </tr>
    <tr>
      <td><textarea name="obs" cols="80" rows="5" class="input3" id="obs"></textarea></td>
    </tr>
    <tr>
      <td><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="10" height="10"></td>
    </tr>
    <tr>
      <td><input name="Submit" type="submit" class="input2" value="Adicionar">
          <input name="Reset" type="reset" class="input2" value="Limpar"></td>
    </tr>
  </form>
</table>
</body>
</html>
