<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<style type="text/css">
<!--
body {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial;
	font-size: 10px;
	color: #000000;
	background-color: #E6E9DC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.popupinfo {	border: 1px inset #e9e9e9;
	background-color: #FFFFFF;
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial;
	font-size: 10px;
	color: #666666;
	padding: 3px;
}
</style>
</head>

<body>
<table width='100%'  border='0' cellspacing='0' cellpadding='0'>
  <tr>
    <td class="popupinfo" id='informacoespopup'>Informa&ccedil;&otilde;es sobre a not&iacute;cia abaixo </td>
  </tr>
</table>
</body>
</html>