<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="<? echo DIR_CSS; ?>/pesquisa.css" rel="stylesheet" type="text/css">
<link href="../../../css/pesquisa.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style1 {
	color: #FF9900;
	font-weight: bold;
}
-->
</style>
<title></title>
</head>

<body>

<table  border="0" cellpadding="2" cellspacing="2" class="pesq_script_destaque">
  <tr>
    <td><? echo "$nome"; ?></td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="1" cellspacing="1">
<tr>
    <td colspan="8" class="pesq_td2"><strong>TOTAL :</strong> <? $total = count($arrayx); echo "$total"; ?> OCORR&Ecirc;NCIAS </td>
  </tr>
  <? for($i = 0; $i < count($arrayx); $i++ ){ 
  
  if ($onsite_view[$i] == 'OK'){$onsite = '(ONSITE)';$pg_ped=4;}else{$onsite = '';$pg_ped=5;}
  
  ?>

  <tr>
    <td align="center" class="pesq_td2"><a href="<? echo"$PHP_SELF?pg=$pg&pg_ped=$pg_ped&menu_not=1&codos_at_pesq=$codos_at_view[$i]&Action=Pesquisar&ncodpedido=$codbarra_view[$i]&coddetalhe=$cod_view[$i]"; ?>" class="lkverde2" target="iformulario"><? echo "$cod_view[$i]"; ?></a></td>
    <td class="pesq_td2"><? echo "$nomecli_view[$i]"; ?><br><b>
    <? echo "$codbarra_at_view[$i]"; ?></b> <? echo $onsite ?></td>
    <td class="pesq_td2">(<? echo "$dddtel_view[$i]"; ?>)<? echo "$tel_view[$i]"; ?></td>
    <td class="pesq_td2"><? echo "$datapesqf_view[$i]"; ?></td>
    <td class="pesq_td2"><? echo "$difdias[$i]"; ?></td>
    <td class="pesq_td2"><? echo "$satisf[$i]"; ?></td>
    <td class="pesq_td2"><? echo "$status[$i]"; ?></td>
    <td class="pesq_td2"><? if ($enc_view[$i] == "S") { echo "<span class='style1'>ENC</span>";}?></td>
  </tr>
  <? }//FOR ?>
</table>
</body>
</html>