<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/padrao.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/<? echo MOD_COR; ?>.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/securitykey.css" rel="stylesheet" type="text/css">
</head>

<body>
<?
$db->titulador(MOD_COR, MOD_TITULO, $bg_cor, $bg_cor_light);
$var_parametro = "&pg_ped=100";
$db->voltar(MOD_COR, $pg, $var_parametro);
$db->titulador(MOD_COR, "Gera Senha", $bg_cor, $bg_cor_light);
?>
<br />
<table border="0" cellspacing="1" cellpadding="1">
<form action="<? echo"$PHP_SELF?pg=$pg&pg_ped=400"; ?>" method="post">
  <tr>
    <td><input name="senha" type="text" id="senha" size="8" maxlength="7" value="<? echo $senha; ?>" class="campo_linha"></td>
    <td><input name="Submit" type="submit" class="botao_cor" id="Submit" value="Nova Senha" /></td>
  </tr>
</form>
</table>
</body>
</html>