<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/padrao.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/<? echo MOD_COR; ?>.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style4 {font-size: x-small; font-weight: bold; }
.style5 {font-size: x-small}
.style7 {font-size: 18px}
.style11 {
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight: bold;
	font-size: 18px;
}
.style13 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000FF;
	font-size: 18px;
	font-weight: bold;
}
.style14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006600;
	font-weight: bold;
	font-size: 18px;
}
.style18 {color: #FF6600; font-size: 18px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }
.style20 {font-size: 14px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }
.style28 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.style33 {font-size: 12px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }
-->
</style></head>

<body>
 

<p>
  <?if ($rs_prod->_numOfRows <> 0){?>
</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="generalTable defaultBlackText">
  <tr>
    <td bgcolor="#FFFFCC" ><strong><big><big>DADOS DO CLIENTE: </big></big></strong></td>
    <td bgcolor="#FFFFCC"><strong><big><big>DADOS DO PEDIDO: </big></big></strong></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFCC" ><strong>CLIENTE</strong>: <span class="style5"><? echo $db->format_str("UP", $nomecli_ped); ?></span><strong><br>
    </strong><strong>CNPJ/CPF:</strong> <span class="style5"><? echo $db->format_str("UP", $doc_ped); ?></span></td>
    <td bgcolor="#FFFFCC"><strong>PEDIDO:</strong> <span class="style5"><? echo $db->format_str("UP", $codbarraped_ped); ?></span><br>
      <strong>DATA PED</strong>: <? echo $db->format_str("UP", $dataped_ped); ?></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" cellspacing="0" cellpadding="2" class="generalTable defaultBlackText">
<form action="<? echo"$PHP_SELF?pg=$pg&pg_ped=100&menu_not=1"; ?>" method="post" name="pesquisa" target="iped">
  <tr>
    <td align="center" bgcolor="#FFFFFF" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
    <td colspan="3" align="left" bgcolor="#FFFFFF" class="noramlTableCell"><strong><big><big>PRODUTO: </big></big></strong><br></td>
    </tr>
  <tr bgcolor="#E1E1E1">
    <td width="10%" align="center" bgcolor="#FFFFFF" class="generalGreyBorderBottomTableHeaderCell">CodProd</td>
    <td width="65%" align="center" bgcolor="#FFFFFF" class="generalGreyBorderBottomTableHeaderCell">Nome Produto </td>
    <td width="25%" align="center" bgcolor="#FFFFFF" class="generalGreyBorderBottomTableHeaderCell">N&uacute;mero S&eacute;rie</td>
    <td width="25%" align="center" bgcolor="#FFFFFF" class="generalGreyBorderBottomTableHeaderCell">Garantia<br>
      (m&ecirc;s)</td>
  </tr>
 

  <tr bgcolor="#E1E1E1" style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
    <td align="center" bgcolor="#FFCC33" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;"><span class="style7"><? echo $codprod_pesq ?></span></td>
    <td bgcolor="#FFCC33" class="noramlTableCell"><span class="style7"><strong><? echo $db->format_str("UP", $nomeprod_pesq); ?></strong></span></td>
    <td align="center" bgcolor="#FFCC33" class="noramlTableCell"><span class="style7"><? echo $codbarra_pesq ?></span></td>
    <td align="center" bgcolor="#FFCC33" class="noramlTableCell"><span class="style7"><? echo $rs_garantia->fields[0]; ?></span></td>
  </tr>
     <?
 if ($idop_sn_pesq){
 
 ?>
   <tr style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
   <td align="center" bgcolor="#FFFFCC" class="noramlTableCell" style="color: #FFFFFF; background-color: #FFFFFF;"></td>
   <td bgcolor="#FFFFCC" class="noramlTableCell"> <strong>MICRO: </strong><? echo $codprod_pesqm ?> - <? echo $db->format_str("UP", $nomeprod_pesqm); ?>   </td>
   <td align="center" bgcolor="#FFFFCC" class="noramlTableCell"><? echo $sn_pesqm ?></td>
   <td align="center" bgcolor="#FFFFCC" class="noramlTableCell">&nbsp;</td>
   </tr>
    <?
 }
 
 ?>
  <tr>
    <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
    <td align="left" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
    <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
    <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
  </tr>
  <tr style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
    <td align="center" class="noramlTableCell" style="color: #000000;"><strong>FAT</strong></td>
    <td colspan="3" class="noramlTableCell"><table width="100%" border="0" cellpadding="1" cellspacing="1">
      <tr>
        <td align="center"><span class="style4">TIPO</span></td>
        <td align="center"><span class="style4">NF VENDA</span></td>
        <td align="center"><span class="style4">DATA NF</span></td>
        <td align="center"><span class="style4">VALOR</span></td>
      </tr>
      <?
      $rs_pedido->Move(0);
      if ($rs_pedido)
			{
				
				while (!$rs_pedido->EOF)
				{
					
				$numnf_ped = $rs_pedido->fields[0];
				$datanf_ped = $rs_pedido->fields[1];
				$valornf_ped = $rs_pedido->fields[2];
				$modonf_ped = $rs_pedido->fields[3];
				$codemp_ped = $rs_pedido->fields[4];
				$nomecli_ped = $rs_pedido->fields[5];
                $codbarraped_ped = $rs_pedido->fields[6];
                $dataped_ped = $rs_pedido->fields[7];
				$doc_ped = $rs_pedido->fields[8];
                $gar_ped = $rs_pedido->fields[9];
                $gar1_ped = $rs_pedido->fields[10];
                $venc_gar = $rs_pedido->fields[11];
				if ($venc_gar == ""){$gar_ped = 0;}
				#echo "garantia = ". $gar_ped;
				
      
      ?>
      <tr>
        <td align="center"><span class="style5"><? echo $modonf_ped ?></span></td>
        <td align="center"><span class="style5"><? echo $numnf_ped ?></span></td>
        <td align="center"><span class="style5"><? echo $datanf_ped ?></span></td>
        <td align="center"><span class="style5"> R$ <? echo $valornf_ped ?></span></td>
      </tr>
      <?
      $rs_pedido->MoveNext();
				}//WHILE
			}
            
       $rs_empresa = $db->query_db("SELECT razaosocial, cgc, endereco, cidade, estado, bairro, cep, ie FROM empresa WHERE codemp ='".$codemp_ped."' ","SQL_NONE","N");	
       $nomeemp_ped = $rs_empresa->fields[0];
	   $cnpjemp_ped = $rs_empresa->fields[1];
       $endereco_ped = $rs_empresa->fields[2];
       $cidade_ped = $rs_empresa->fields[3];
       $estado_ped = $rs_empresa->fields[4];
       $bairro_ped = $rs_empresa->fields[5];
       $cep_ped = $rs_empresa->fields[6];
       $ie_ped = $rs_empresa->fields[7];
           
      ?>
    </table>      </td>
    </tr>

  <?
 
 
 ?>
</form>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="33%" class="style11">STATUS GARANTIA:</td>
    <td width="67%"><? if($gar_ped == 0){if ($venc_gar == ""){?> <span class="style14 ">PRODUTO NÃO ENTREGUE - <? echo $venc_gar;?></span> <?}else{?> <span class="style12 style7">PRODUTO FORA DA GARANTIA - <? echo $venc_gar;?></span> <?}}else{?><span class="style13">PRODUTO EM GARANTIA - <? echo $venc_gar;?></span><?}?></td>
  </tr>
</table>
<br>
 <?
 if ($gar_ped == 1){
 
 ?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="33%" class="style11">FORMA GARANTIA:</td>
    <td width="67%">
    <? switch ($tipo_garantia) {

    case "A":
       ?><span class="style18">TIPO A </span><br><span class="style20">Trocar na Loja</span>
<?
        break;
    
    case "B":
    	 ?><span class="style18">TIPO B</span><br><?
    	if ($gar1_ped == 1){
		 ?><span class="style20">Trocar na Loja somente se o produto estiver MORTO, senão encaminhar para a ASSISTÊNCIA TÉCNICA IPASOFT</span><?
         }else{
          ?><span class="style20">Encaminhar para a ASSISTÊNCIA TÉCNICA IPASOFT</span><?
         }
		break;
   
    case "C":
        ?><span class="style18">TIPO C</span><br><?
    	if ($gar1_ped == 1){
		 ?><span class="style20">Trocar na Loja somente se o produto estiver MORTO, senão encaminhar para a ASSISTÊNCIA TÉCNICA do FABRICANTE</span><?
         }else{
          ?><span class="style20">Encaminhar para a ASSISTÊNCIA TÉCNICA do FABRICANTE</span><?
         }
		break;
    case "D":
       ?><span class="style18">TIPO D</span><br><span class="style20">Encaminhar para a ASSISTÊNCIA TÉCNICA IPASOFT</span><?
		break;
    case "E":
       ?><span class="style18">TIPO E</span><br><span class="style20">Encaminhar para a ASSISTÊNCIA TÉCNICA do FABRICANTE</span><?
		break;
     case "X":
       ?><span class="style18">TIPO X</span><br><span class="style20">Produto NÃO CLASSIFICADO</span><?
		break;
}
?>      </td>
  </tr>
</table>
<br>

 <?
 if ($tipo_garantia == "A" or (($tipo_garantia == "B" OR $tipo_garantia == "C") AND $gar1_ped == 1)){
 
 ?>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="33%" class="style11">ESTOQUES:</td>
    <td width="33%" class="style20">LOJAS</td>
    <td width="34%" class="style20">QTDE</td>
  </tr>
  <tr>
    <td class="style11">&nbsp;</td>
    <td><span class="style28">HALFELD</span></td>
    <td><span class="style33"><? echo $rs_estoque->fields[1]; ?></span></td>
  </tr>
  <tr>
    <td class="style11">&nbsp;</td>
    <td><span class="style28">BATISTA</span></td>
    <td><span class="style33"><? echo $rs_estoque->fields[2]; ?></span></td>
  </tr>
  <tr>
    <td class="style11">&nbsp;</td>
    <td><span class="style28">LOJA-FABRICA</span></td>
    <td><span class="style33"><? echo $rs_estoque->fields[0]; ?></span></td>
  </tr>
</table>


<p align="center">
   <<
 <a href="<? echo"$PHP_SELF?pg=$pg&pg_ped=101&menu_not=1&codped=".$rs_lista->fields['codped']."&Action=pesquisa&codcb_select=".$codcb_pesq.""; ?> " target="ilist">IMPRIMIR CHECKLIST TESTES</a> >>
  
  <?
  }// ESTOQUE
 
  }//GARANTIA
  
  }else{?>
  <BR><BR><BR>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100%" class="style11" align="center">STATUS GARANTIA:<BR><span class="style14 ">NÚMERO DE SÉRIE NÃO EXISTE NO SISTEMA</span></td>
   
  </tr>
</table>
  <?}?>
</p>
</body>
</html>