<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/padrao.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/<? echo MOD_COR; ?>.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.meio_branco {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #FFFFFF;
}
-->
</style>
</head>

<body>
<?
$db->titulador(MOD_COR, MOD_TITULO, $bg_cor, $bg_cor_light);
$db->voltar(MOD_COR, $pg, "&pg_ped=100");
?>
<br>
<?
$rs_verifica = $db->query_db("SELECT malote FROM vendedor WHERE tipo = 'R' AND codvend = '$codvend'","SQL_NONE","N");
if($rs_verifica->fields['malote'] == "S")
{
?>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="titulo_superior2">
  <tr>
    <td>Enviar Malote </td>
  </tr>
</table>
<table width="100%"  border="0" cellpadding="2" cellspacing="0" class="generalTable defaultBlackText">
  <form method="post" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=200&Action=Envia"; ?>">
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">Destinat&aacute;rio</td>
      <td class="noramlTableCell"><strong>IPASOFT PRODU&Ccedil;&Atilde;O </strong></td>
    </tr>
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">N&ordm; Malote </td>
      <td class="noramlTableCell"><input name="nmalote" type="text" class="campo_linha" id="nmalote" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"' size="10" maxlength="5"></td>
    </tr>
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">Lacre</td>
      <td class="noramlTableCell"><input name="lacre" type="text" class="campo_linha" id="lacre" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"' size="10" maxlength="7"></td>
    </tr>
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">Descri&ccedil;&atilde;o</td>
      <td class="noramlTableCell"><textarea name="descricao" rows="4" class="campo_caixa" id="descricao" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"'></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="Submit" type="submit" class="botao_cor" value="Enviar">
        <input name="cod_dest" type="hidden" id="cod_dest" value="1"></td>
    </tr>
  </form>
</table>
<? } else { ?>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="botao_vermelho">
  <tr>
    <td align="center">Voc&ecirc; n&atilde;o tem permiss&atilde;o para usar este m&oacute;dulo!</td>
  </tr>
</table>
<p>
  <? } ?>
</p>
</body>
</html>