<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/padrao.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/<? echo MOD_COR; ?>.css" rel="stylesheet" type="text/css">
<script language="javascript" src="<? echo DIR_JS; ?>/funcoes01.js"></script>
<script language="javascript">
function DoIt(form)
{
	document.form.action = '<? echo"$PHP_SELF?pg=$pg&pg_ped=100&Action=Empresa&empresa=$empresa"; ?>';
	document.form.target = '_self';
	document.form.submit();
}
</script>
<style type="text/css">
<!--
.meio_branco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #FFFFFF;
}
-->
</style>
</head>

<body>
<?
$db->titulador(MOD_COR, MOD_TITULO, $bg_cor, $bg_cor_light);
?>
<br>
<?
$rs_verifica = $db->query_db("SELECT malote FROM vendedor WHERE tipo = 'R' AND codvend = '$codvend'","SQL_NONE","N");
if($rs_verifica->fields['malote'] == "S")
{
?>
<table  border="0" cellspacing="2" cellpadding="2">
  <tr>
	<td><? $db->botao(MOD_COR, "Lista Malotes", "", "pg=$pg&pg_ped=100", "", ""); ?></td>
	<td><? $db->botao(MOD_COR, "Enviar Malote", "", "pg=$pg&pg_ped=200", "", ""); ?></td>
  </tr>
</table>
<br>
<fieldset class="campo_fieldset">
<legend class="campo_fieldset_legend">Pesquisa</legend>
<table width="100%"  border="0" cellspacing="0" cellpadding="2" class="generalTable defaultBlackText">
<form action="<? echo"$PHP_SELF?pg=$pg&pg_ped=1&Action=Pesquisar"; ?>" name="pesquisa" method="post">
  <tr>
    <td align="center" class="generalGreyBorderBottomTableHeaderCell">N&ordm; Malote </td>
    <td align="center" class="generalGreyBorderBottomTableHeaderCell">Hist&oacute;rico</td>
    <td class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
    <td width="70%" align="center" class="generalGreyBorderBottomTableHeaderCell"><input name="pg" type="hidden" id="pg" value="<? echo $pg; ?>">
      <input name="pg_ped" type="hidden" id="pg_ped" value="<? echo $pg_ped; ?>">
      <input name="Action" type="hidden" id="Action" value="Pesquisar"></td>
  </tr>
  <tr>
    <td class="noramlTableCell"><input name="nmalotepesq" type="text" class="campo_linha" id="nmalotepesq" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"' size="20"></td>
    <td class="noramlTableCell"><table border="0" cellspacing="1" cellpadding="1">
        <tr>
          <td><input name="hist" type="radio" value="S"></td>
          <td><strong>SIM</strong></td>
          <td><input name="hist" type="radio" value="N" checked></td>
          <td><strong>N&Atilde;O</strong></td>
        </tr>
      </table></td>
    <td class="noramlTableCell"><input type="submit" name="Submit2" value="Pesquisar" class="botao_cor"></td>
    <td align="center" class="noramlTableCell">&nbsp;</td>
  </tr>
</form>
</table>
</fieldset>
<br>
<fieldset class="campo_fieldset">
<legend class="campo_fieldset_legend">Malotes à Receber</legend>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <form name="lista" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=100"; ?>" method="post">
    <tr>
      <td><table width="100%"  border="0" cellspacing="0" cellpadding="2" class="generalTable defaultBlackText">
        <tr>
          <td width="1%" align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
          <td width="1%" align="center" class="generalGreyBorderBottomTableHeaderCell">Cod</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">N&ordm; Malote </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">&nbsp;</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Remetente</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Destinat&aacute;rio</td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Data Envio </td>
          <td align="center" class="generalGreyBorderBottomTableHeaderCell">Data Receb. </td>
          </tr>
        <?
if ($rs_lista)
{
	$ix = 0;
	while (!$rs_lista->EOF)
	{
?>
        <tr style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'>
          <td align="center" class="noramlTableCell"><input name="rows_codlista[<? echo $ix; ?>]" type="checkbox" id="id_rows_codlista<? echo $ix; ?>" value="<? echo $rs_lista->fields['codmalote']; ?>"></td>
          <td align="center" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;"><? echo $rs_lista->fields['codmalote']; ?></td>
          <td class="noramlTableCell"><? echo $rs_lista->fields['num_malote']; ?></td>
          <td align="center" class="noramlTableCell"><?
if($rs_lista->fields['cod_dest'] == $codvend)
{
  	echo "<img src=".DIR_IMAGES."/legendas/legenda_recebido.gif border=0>";
}
else
{
  	echo "<img src=".DIR_IMAGES."/legendas/legenda_enviado.gif border=0>";
}
?></td>
          <td align="center" class="noramlTableCell"><b><?
if($rs_lista->fields['tipo_remet'] == "E")
{
	$rs_empresa_e = $db->query_db("SELECT nome FROM empresa WHERE codemp = '".$rs_lista->fields['cod_remet']."'","SQL_NONE","N");
	echo $db->format_str("UP", $rs_empresa_e->fields['nome']);
}
else
{
	$rs_empresa_r = $db->query_db("SELECT nome FROM vendedor WHERE codvend = '".$rs_lista->fields['cod_remet']."'","SQL_NONE","N");
	echo $db->format_str("UP", $rs_empresa_r->fields['nome']);
}
?></b><br><? echo $db->format_str("UP", $rs_lista->fields['resp_remet']); ?></td>
          <td align="center" class="noramlTableCell"><b><?
if($rs_lista->fields['tipo_dest'] == "E")
{
	$rs_empresa_e = $db->query_db("SELECT nome FROM empresa WHERE codemp = '".$rs_lista->fields['cod_dest']."'","SQL_NONE","N");
	echo $db->format_str("UP", $rs_empresa_e->fields['nome']);
}
else
{
	$rs_empresa_r = $db->query_db("SELECT nome FROM vendedor WHERE codvend = '".$rs_lista->fields['cod_dest']."'","SQL_NONE","N");
	echo $db->format_str("UP", $rs_empresa_r->fields['nome']);
}
?></b><br><? echo $db->format_str("UP", $rs_lista->fields['resp_dest']); ?></td>
          <td align="center" class="noramlTableCell"><? echo $rs_lista->UserTimeStamp($rs_lista->fields['datahoraenvio'],'d/m/Y H:i'); ?></td>
          <td align="center" class="noramlTableCell"><? if ($rs_lista->fields['datahorareceb'] <> "0000-00-00 00:00:00") { echo $rs_lista->UserTimeStamp($rs_lista->fields['datahorareceb'],'d/m/Y H:i'); } else { echo "-"; } ?></td>
          </tr>
        <?
	 	$ix++;
		$rs_lista->MoveNext();
	}//WHILE
}
?>
      </table>
          <hr size="1" noshade>
          <table border="0" cellspacing="2" cellpadding="2" class="generalTable defaultBlackText">
            <tr>
              <td><img src="<? echo DIR_IMAGES; ?>/arrow_ltr.png" border="0"></td>
              <td>&nbsp;</td>
              <td class="noramlTableCell" style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'><a href="javascript:void(0);" class="link5" onClick="setCheckboxesRange('lista', true, 'id_rows_codlista', 0, '10'); return false;">Marcar Todos</a></td>
              <td class="noramlTableCell" style="background-color: #FFFFFF; cursor: pointer;" onmouseover='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onmouseout='this.style.backgroundColor="#FFFFFF"'><a href="javascript:void(0);" class="link5" onClick="setCheckboxesRange('lista', false, 'id_rows_codlista', 0, '10'); return false;">Desmarcar Todos</a></td>
              <td>&nbsp;</td>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="1">
                  <tr>
                    <td><strong>Com Marcados:</strong> </td>
                  </tr>
                  <tr>
                    <td><select name="Action" class="campo_select" id="Action" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"'>
                        <option value="" selected="selected">Selecione...</option>
                        <option value="ReceberMalote">Receber Malote</option>
                                        </select></td>
                  </tr>
              </table></td>
              <td><input name="Submit" type="submit" class="botao_cor" id="Submit" value="OK" onClick="return confirm('Confirma esta a&ccedil;&atilde;o?')"></td>
              <td><input name="numRows" type="hidden" id="numRows" value="<? echo $numRows; ?>">
                  <input name="pg" type="hidden" id="pg" value="<? echo $pg; ?>">
                  <input name="pg_ped" type="hidden" id="pg_ped" value="<? echo $pg_ped; ?>">
                  <input name="hist" type="hidden" id="hist" value="<? echo $_POST['hist']; ?>"></td>
            </tr>
          </table>
        <?
if ($total_reg <> 0)
{
	echo "<hr size='1' noshade>";
	$html_pg = $paginator->Construir_Links("todos", "sim");
	$qtd_paginas = $paginator->qtd_paginas;
	for ($i = 0; $i < $qtd_paginas; $i++)
	{
		echo $html_pg[$i];
	}
}
?></td>
    </tr>
  </form>
</table>
</fieldset>
<? } else { ?>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="botao_vermelho">
  <tr>
    <td align="center">Voc&ecirc; n&atilde;o tem permiss&atilde;o para usar este m&oacute;dulo!</td>
  </tr>
</table>
<p>
  <? } ?>
</p>
</body>
</html>