<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/padrao.css" rel="stylesheet" type="text/css">
<link href="<? echo DIR_CSS; ?>/<? echo MOD_COR; ?>.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<? echo DIR_SISTEMA; ?>/js/calendar.js"></script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>
<? if($codrevenda) { ?>
<table width="100%"  border="0" cellpadding="2" cellspacing="0" class="generalTable defaultBlackText">
  <form method="post" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=4&menu_not=1&Action=Inserir"; ?>" name="envia">
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">N&ordm; Sedex</td>
      <td class="noramlTableCell"><input name="nsedex" type="text" class="campo_linha" id="nsedex" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"' size="15" maxlength="13"></td>
    </tr>
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">Data Envio </td>
      <td class="noramlTableCell"><table  border="0" cellpadding="1" cellspacing="1">
        <tr>
          <td><input name="dataenvio" type="text" class="campo_linha" id="dataenvio" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"; blur()' onBlur='this.style.backgroundColor="#FFFFFF"'></td>
          <td><a href="javascript:void(0);" onClick="openCalendar('pg=9', 'envia', 'dataenvio', 'datetime')"><img src="<? echo DIR_IMAGES; ?>/b_calendar.png" border="0"></a></td>
        </tr>
      </table></td></tr>
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" valign="top" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">Conte&uacute;do</td>
      <td class="noramlTableCell"><textarea style="width:100%" name="conteudo" rows="4" class="campo_linha" id="conteudo" onFocus="this.style.backgroundColor=&quot;<? echo $bg_cor_light; ?>&quot;" onBlur="this.style.backgroundColor=&quot;#FFFFFF&quot;"></textarea></td>
    </tr>
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">Valor</td>
      <td class="noramlTableCell">R$ <? echo $db->fvalor($preco_sedex); ?></td>
    </tr>
    <tr style="background-color: #FFFFFF; cursor: pointer;">
      <td width="80" align="right" class="noramlTableCell" style="color: #FFFFFF; background-color: #999999;">Debitar Revenda? </td>
      <td class="noramlTableCell"><select name="codrevendadeb" class="campo_select" id="codrevendadeb" onFocus='this.style.backgroundColor="<? echo $bg_cor_light; ?>"' onBlur='this.style.backgroundColor="#FFFFFF"'>
        <option selected value="-1">Escolha...</option>
        <?
if ($rs_revendas_list)
{
	while (!$rs_revendas_list->EOF)
	{
?>
        <option value="<? echo $rs_revendas_list->fields['codvend']; ?>"><? echo $db->format_str("UP", $rs_revendas_list->fields['login']); ?> - <? echo $db->format_str("UP", $rs_revendas_list->fields['nome']); ?></option>
        <?
	 	$rs_revendas_list->MoveNext();
	}//WHILE
}
?>
		<option value="0">Não debitar de nenhuma revenda</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="Submit" type="submit" class="botao_cor" value="Ok">
        <input name="codrevenda" type="hidden" id="codrevenda" value="<? echo $codvend; ?>">
        <input name="cep_origem" type="hidden" id="cep_origem" value="36010021">
        <input name="cep_destino" type="hidden" id="cep_destino" value="<? echo $frmCEP; ?>">
        <input name="tipo_sedex" type="hidden" id="tipo_sedex" value="E">
      <input name="valor_sedex" type="hidden" id="valor_sedex" value="<? echo $preco_sedex;  ?>">
      <input name="valor_receb" type="hidden" id="valor_receb" value="0">
      <input name="valor_cobrado" type="hidden" id="valor_cobrado" value="0">
      <input name="codpeso" type="hidden" id="codpeso" value="<? echo $codpeso;  ?>">
      <input name="data_rec" type="hidden" id="data_rec" value="0000-00-00 00:00:00">
      <input name="preco_sedex" type="hidden" id="preco_sedex" value="<? echo $preco_sedex; ?>"></td>
    </tr>
  </form>
</table>
<? } ?>
</body>
</html>