<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="wbs2/css/sistema.css" rel="stylesheet" type="text/css">
<link href="../css/sistema.css" rel="stylesheet" type="text/css">
</head>

<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td background="wbs2/images/mod_ind_fundo_on.gif"><img src="wbs2/images/mod_ind_1_on.gif" width="112" height="50" border="0" alt=""></td>
    <td background="wbs2/images/mod_ind_fundo_off.gif"><img src="wbs2/images/mod_ind_2_off.gif" width="113" height="50" border="0" alt=""></td>
    <td background="wbs2/images/mod_ind_fundo_off.gif"><img src="wbs2/images/mod_ind_3_off.gif" width="153" height="50" border="0" alt=""></td>
    <td background="wbs2/images/mod_ind_fundo_off.gif"><img src="wbs2/images/mod_ind_4_off.gif" width="104" height="50" border="0" alt=""></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="wbs2/images/modificarpedido.gif" width="255" height="40"></td>
  </tr>
  <tr>
    <td bgcolor="#D9AD00"><img width="1" height="1"></td>
  </tr>
</table>
<br>
<form name="form1" method="post" action="">
  <table width="100%"  border="0" cellspacing="2" cellpadding="2">
    <tr>
      <td colspan="2" align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="right"><strong>COD PEDIDO:</strong> </td>
      <td align="left"><input name="numped" type="text" class="cmp1" id="numped" size="18" maxlength="13"></td>
    </tr>
    <tr>
      <td align="right"><strong>MOTIVO:</strong></td>
      <td align="left"><select name="select" class="cmp1">
        <option>Motivo 1</option>
        <option>Motivo 2</option>
        <option>Motivo 3</option>
        <option>Motivo 4</option>
      </select></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input name="imageField" type="image" src="wbs2/images/btcontinuar.gif" width="90" height="25" border="0"></td>
    </tr>
  </table>
</form>
</body>
</html>