<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="wbs2/css/sistema.css" rel="stylesheet" type="text/css">
<link href="../css/sistema.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
<!--

//-->
function doTwo(form3, codcat, codprod, codcj, preco, codped, ordem)
{
var campo = "qtde"+codprod;

var qtde= document.getElementById("qtde["+codprod+"]").value;

document.form3.action = '<? echo"$PHP_SELF?pg=$pg&pg_ped=8&"; ?>Action=adiciona&codprodselect='+ codprod +'&codcatselect='+codcat+'&codcjselect='+codcj+'&precoselect='+preco+'&codpedselect='+codped+'&qtdeselect='+qtde+'&ordemselect='+ordem+'';
document.form3.target = 'iprodutoadc';
document.form3.submit();

document.form3.action = '<? echo"$PHP_SELF?pg=$pg&pg_ped=6&"; ?>codprodselect='+ codprod +'&codcatselect='+codcat+'&codcjselect='+codcj+'&precoselect='+preco+'&codpedselect='+codped+'&ordemselect='+ordem+'';
document.form3.target = 'icarrinho';
document.form3.submit();

}
//-->

var NameArray2 = new Array();
var ValueArray2 = new Array();

<?
	for($i = 1; $i <= count($array_pesq); $i++ ){
?>
NameArray2[<? echo"$i"; ?>] = new Array(<? echo"$nomesubcat_pesq[$i]"; ?>);
ValueArray2[<? echo"$i"; ?>] = new Array(<? echo"$codsubcat_pesq[$i]"; ?>);
<?
	}//FOR
?>

function changePesq(){
 // Obtain the first dimension position of the currently selected theaterRegion
 //

  var cjIX = document.forms["pesq"].cjPesq.selectedIndex;

  if (cjIX > 0){
   // set the length of the new multi-option
   //

   	 // CALCULA O NUMERO DE LINHAS DO FOR
    document.forms["pesq"].elements["pesqSelect"].options.length = NameArray2[cjIX].length +1;

    // LINHA INICIAL DO MENU SELECT
    document.forms["pesq"].elements["pesqSelect"].options[0].text = "=> Selecione a Subcategoria";
    document.forms["pesq"].elements["pesqSelect"].options[0].value = "";

    for (var j=0; j < NameArray2[cjIX].length; j++)
    {
      document.forms["pesq"].elements["pesqSelect"].options[j+1].text = NameArray2[cjIX][j];
      document.forms["pesq"].elements["pesqSelect"].options[j+1].value = ValueArray2[cjIX][j];
    }
  }
  else
  {
   // User has reselected the blank 'region' option
   //
    document.forms["pesq"].elements["pesqSelect"].options.length = 2;
    document.forms["pesq"].elements["pesqSelect"].options[0].text = "Selecione a Subcategoria";
    document.forms["pesq"].elements["pesqSelect"].options[0].value = "";
    document.forms["pesq"].elements["pesqSelect"].options[1].text = "Selecione a Categoria primeiro";
    document.forms["pesq"].elements["pesqSelect"].options[1].value = "";
  }
}

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>

</script>
</head>

<body>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="wbs2/images/produtosadicionais.gif" width="255" height="40"></td>
  </tr>
  <tr>
    <td background="wbs2/images/spacer.gif" bgcolor="#D9AD00"><img src="wbs2/images/spacer.gif" width="1" height="1"></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="tblistpecasadicionais3">
  <tr>
    <td><iframe src="modped_iproduto_list.htm" name="iprodutoadc" width="100%" marginwidth="0" height="300" marginheight="0" scrolling="yes" frameborder="0"></iframe></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="tblistpecasadicionais3">
  <tr>
    <td><iframe src="modped_iproduto_mod.htm" name="iprodutoadc" width="100%" marginwidth="0" height="150" marginheight="0" scrolling="yes" frameborder="0"></iframe></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="40"><strong>MLB:</strong></td>
    <td>R$ 00.000,00</td>
  </tr>
  <tr>
    <td><strong>MCV:</strong></td>
    <td>00,00 % </td>
  </tr>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
  <tr>
    <td width="33%"><a href="<? echo "$PHP_SELF?pg=$pg&pg_ped=2&codpedselect=$codpedselect"; ?>"><img src="wbs2/images/btvoltarcarrinhoyellow.gif" width="91" height="30" border="0"></a></td>
    <td>&nbsp;</td>
    <td width="34%" align="right"><a href="<? echo"$PHP_SELF?pg=$pg&pg_ped=5&Action=grava&codpedselect=$codpedselect&placaSelect=$placaSelect"; ?>"><img src="wbs2/images/btguardarcarrinho.gif" width="98" height="30" border="0"></a></td>
  </tr>
</table>
<br>
<a name="pesq"></a>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="22" bgcolor="#FFFAE6" class="titulos_itens">PESQUISA</td>
  </tr>
  <tr>
    <td background="wbs2/images/spacer.gif" bgcolor="#D9AD00"><img src="wbs2/images/spacer.gif" width="1" height="1"></td>
  </tr>
</table>
<table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
  <form method="post" action="<? echo"$PHP_SELF?pg=$pg&pg_ped=5&Action=pesquisa#pesq"; ?>" name="pesq">
    <tr>
      <td class="amarelonegrito">POR:</td>
      <td>Categoria</td>
      <td>Subcategoria</td>
      <td rowspan="4"><input name="imageField" type="image" src="wbs2/images/btpesquisaryellow.gif" width="87" height="25" border="0"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><select name="cjPesq" class="campoquant3" id="cjPesq" onChange=changePesq()>
          <option value="...">Escolha a categoria</option>
          <?
	for($i = 1; $i <= count($array_pesq); $i++ ){

?>
          <option value="<? echo"$i"; ?>"><? echo"$nomecatp[$i]"; ?></option>
          <?
	}//FOR
?>
      </select></td>
      <td><select name="pesqSelect" class="campoquant3">
          <option value="">Escolha a subcategoria</option>
          <option value="">Selecione a categoria</option>
      </select></td>
    </tr>
    <tr>
      <td class="amarelonegrito">POR:</td>
      <td>Cod.</td>
      <td>Produto</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>
        <input name="codprodselect" type="text" class="campoquant3" size="5">
      </strong></td>
      <td><input name="palavrachave" type="text" class="campoquant3"></td>
    </tr>
    <input type="hidden" name="placaSelect" value="<? echo"$placaSelect"; ?>">
    <input type="hidden" name="codpedselect" value="<? echo"$codpedselect"; ?>">
  </form>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
  <tr class="titulos_itens">
    <td align="center">Cod.</td>
    <td>Produto</td>
    <td>Cor</td>
    <td align="center">Pre&ccedil;o</td>
    <td align="center">Pos. Est. </td>
    <td colspan="2" align="center">Qtde</td>
  </tr>
  <form action="<? echo"$PHP_SELF?pg=$pg&pg_ped=8"; ?>" method="post" name="form3" target="iprodutoadc">
    <?
	for($i = 0; $i < count($array2); $i++ ){

if ($xcodcat <> $codcat[$i]){

?>
    <tr class="titulos_cat3">
      <td colspan="6"><? echo"$nomecat[$i]"; ?></td>
      <td align="center" class="titulos_cat3"><img src="wbs2/images/topo3.gif" width="40" height="15"></td>
    </tr>
    <?

}
$xcodcat = $codcat[$i];

if ($xcodsubcat <> $codsubcat[$i]){
?>
    <tr>
      <td colspan="7" class="titulos_subcat3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<? echo"$nomesubcat[$i]"; ?></td>
    </tr>
    <?


}
$xcodsubcat = $codsubcat[$i];


//ESTOQUE

if ($est[$i] > 0){$img="wbs2/images/est_pos_ok.gif";}
if (($est[$i] == 0 OR $est[$i] < 0) and $qtde_oc[$i] > 0){$img="wbs2/images/note_icon.gif";$oc=$qtde_oc[$i];}
if (($est[$i] == 0 OR $est[$i] < 0) and $qtde_oc[$i] <= 0){$img="wbs2/images/est_pos_no.gif";}



?>
    <tr onmouseover="this.bgColor='#FFDBB7'" onmouseout="this.bgColor ='#FFFFFF'" bgcolor="#FFFFFF">
      <td align="center"><? echo"$codprod[$i]"; ?></td>
      <td><span class="nomeprod1"><a href="#" onClick="MM_openBrWindow('<? echo"$PHP_SELF?pg=$pg&pg_ped=17&codpedselect=$codpedselect&codprodselect=$codprod[$i]"; ?>','Detalhes','scrollbars=yes,width=550,height=400')"><? echo"$nomeprod[$i]"; ?></a></span><br>
          <span class="nomeprod2"><? echo"$descres[$i]"; ?></span></td>
      <td><?
if ($mostra_cor[$i] <> "1") {
echo "
<table  border='0' align='center' cellpadding='2' cellspacing='2'>
  <tr>
    <td><table  border='0' cellpadding='0' cellspacing='0' bgcolor='$cor1_prod[$i]'>
      <tr>
        <td style='$borda_cor1[$i]'><img src='wbs2/images/fcor.gif' width='10' height='10'></td>
      </tr>
    </table></td>
    <td><table  border='0' cellpadding='0' cellspacing='0' bgcolor='$cor2_prod[$i]'>
      <tr>
        <td style='$borda_cor2[$i]'><img src='wbs2/images/fcor.gif' width='10' height='10'></td>
      </tr>
    </table></td>
  </tr>
</table>
";
}
?></td>
      <td align="center" class="nomeprod1"><? echo"$precof[$i]"; ?></td>
      <td align="center" class="nomeprod1"><img src="<? echo"$img"; ?>"><BR>
          <? echo"$oc"; ?></td>
      <td align="center" class="nomeprod1"><input name="qtde[<? echo"$codprod[$i]"; ?>]" type="text" class="campoquant" value="0" size="2" maxlength="2" id = "qtde[<? echo"$codprod[$i]"; ?>]">
        <span class="titulos_cat3">
        <select name="select" class="campoquant3">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="0">0</option>
                </select>
      </span></td>
      <td align="center" class="nomeprod1"><input name="imageField" type="image" src="wbs2/images/btcarrinhoadd.gif" alt="Adicionar Produto" width="17" height="14" border="0" onClick='doTwo(form3, <? echo"$codcat[$i]"; ?>, <? echo"$codprod[$i]"; ?>, <? echo"$codcjselect"; ?>, <? echo"$preco[$i]"; ?>, <? echo"$codpedselect"; ?>) ,<? echo"$ordem[$i]"; ?>'></td>
    </tr>
    <?

$img = "";
$oc = "";
	}//FOR
?>
  </form>
</table>
</body>
</html>
