<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title></title>
<link href="<? echo DIR_CSS; ?>/sistema.css" rel="stylesheet" type="text/css">
<style>
a.info{
    position:relative;
    color:#000;
    padding-right: 0px;
    padding-left: 0;
    text-decoration:none;
    cursor:help;
    z-index:5;
}
a.info:hover{background-color:#fff;z-index:20; text-decoration:none;}
a.info span{display: none}
a.info:hover span{
    display:block;
    position:absolute;
    top:20px; left:-100px; width:200px;
    font-size:11px;
    padding: 5px;
    border:1px solid #000;
    background-color:#FFFFFF; color:#000;
    text-align: center;
    cursor:help;
    z-index:20;
}
</style>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->


function ShowHelp(div, title, desc)
{
	var desc1 = parent.frames["icarrinho"].document.getElementById("micro").value;
	div = document.getElementById(div);
	div.style.display = 'inline';
	div.style.position = 'absolute';
	div.style.width = '500';
	div.style.backgroundColor = 'lightyellow';
	div.style.border = 'dashed 1px black';
	div.style.padding = '10px';
	div.innerHTML = '<div style="padding-left:10; padding-right:5">' + desc1 + '</div>';
}

function HideHelp(div)
{
	div = document.getElementById(div);
	div.style.display = 'none';
}

function doTwo(form3, codcat, codprod, codcj, preco, codped, codtipocj, ordem)
{
var campo = "qtde"+codprod;

var qtde= document.getElementById("qtde["+codprod+"]").value;
var plano= document.getElementById("plano_select["+codprod+"]").value;

document.form3.action = '<? echo"$PHP_SELF?pg=$pg&pg_ped=7&"; ?>Action=adiciona&codprodselect='+ codprod +'&codcatselect='+codcat+'&codcjselect='+codcj+'&precoselect='+preco+'&codpedselect='+codped+'&qtdeselect='+qtde+'&codtipocjselect='+codtipocj+'&ordemselect='+ordem+'&planoselect='+plano+'';
document.form3.target = 'iprodutoadcmicro';
document.form3.submit();

document.form3.action = '<? echo"$PHP_SELF?pg=$pg&pg_ped=6&"; ?>codprodselect='+ codprod +'&codcatselect='+codcat+'&codcjselect='+codcj+'&precoselect='+preco+'&codpedselect='+codped+'&codtipocjselect='+codtipocj+'&ordemselect='+ordem+'';
document.form3.target = 'icarrinho';
document.form3.submit();

}

function doTwo_load(form3, codcj, codped, codtipocj)
{
document.form3.action = '<? echo"$PHP_SELF?pg=$pg&pg_ped=6&"; ?>codcjselect='+codcj+'&codpedselect='+codped+'&codtipocjselect='+codtipocj+'';
document.form3.target = 'icarrinho';
document.form3.submit();

}
//-->

var NameArray2 = new Array();
var ValueArray2 = new Array();

<?
	for($i = 0; $i < count($array_pesq); $i++ ){
	$u = $i+1;
?>
NameArray2[<? echo"$u"; ?>] = new Array(<? echo"$nomesubcat_pesq[$i]"; ?>);
ValueArray2[<? echo"$u"; ?>] = new Array(<? echo"$codsubcat_pesq[$i]"; ?>);
<?
	}//FOR
?>

function changePesq(){
 // Obtain the first dimension position of the currently selected theaterRegion
 //

  var cjIX = document.forms["pesq"].cjPesq.selectedIndex;

  if (cjIX > 0){
   // set the length of the new multi-option
   //

   	 // CALCULA O NUMERO DE LINHAS DO FOR
    document.forms["pesq"].elements["pesqSelect"].options.length = NameArray2[cjIX].length +1;

    // LINHA INICIAL DO MENU SELECT
    document.forms["pesq"].elements["pesqSelect"].options[0].text = "=> Selecione a Subcategoria";
    document.forms["pesq"].elements["pesqSelect"].options[0].value = "";

    for (var j=0; j < NameArray2[cjIX].length; j++)
    {
      document.forms["pesq"].elements["pesqSelect"].options[j+1].text = NameArray2[cjIX][j];
      document.forms["pesq"].elements["pesqSelect"].options[j+1].value = ValueArray2[cjIX][j];
    }
  }
  else
  {
   // User has reselected the blank 'region' option
   //
    document.forms["pesq"].elements["pesqSelect"].options.length = 2;
    document.forms["pesq"].elements["pesqSelect"].options[0].text = "Selecione a Subcategoria";
    document.forms["pesq"].elements["pesqSelect"].options[0].value = "";
    document.forms["pesq"].elements["pesqSelect"].options[1].text = "Selecione a Categoria primeiro";
    document.forms["pesq"].elements["pesqSelect"].options[1].value = "";
  }
}

</script>
</head>

<body onload = "doTwo_load(form3, <? echo"$codcjselect"; ?>, <? echo"$codpedselect"; ?>, <? echo"$codtipocjselect"; ?>)">
<table width="778"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><?php
include(DIR_SISTEMA."/".DIR_MODULOS."/modulo_pedido/start_ped_topocarrinho.php");
?>
<div style="display:none" id="d22"></div>
<br>
<a name="add"></a>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="<? echo DIR_IMAGES; ?>/produtosadicionaismicro.gif" width="365" height="40"></td>
    <td align="right"><a href="#" onMouseOut="HideHelp('d22')" onMouseOver="ShowHelp('d22', 'Perdeu sua senha?', 'Perdeu Playboy, perdeooooooooooo!!!.')"><img src="<? echo DIR_IMAGES; ?>/btdetalhemicro.gif" width="115" height="30" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" background="<? echo DIR_IMAGES; ?>/spacer.gif" bgcolor="#009966"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0" class="tblistpecasadicionais2">
  <tr>
    <td><iframe src="<? echo"$PHP_SELF?pg=$pg&pg_ped=7&Action=$Action&Action_alter=$Action_alter&codpedselect=$codpedselect&codcjselect=$codcjselect&codtipocjselect=$codtipocjselect"; ?>" name="iprodutoadcmicro" width="100%" marginwidth="0" height="200" marginheight="0" scrolling="yes" frameborder="0"></iframe></td>
  </tr>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
  <tr>
    <td width="33%"><a href="<? echo"$PHP_SELF?pg=$pg&pg_ped=3&Action_alter=$Action_alter&codpedselect=$codpedselect&placaSelect=$placaSelect&modifica=1"; ?>"><img src="<? echo DIR_IMAGES; ?>/btmodificarconfig.gif"  border="0"></a></td>
    <td>&nbsp;</td>
    <td width="34%" align="right"><a href="<? echo"$PHP_SELF?pg=$pg&pg_ped=4&Action=grava&Action_alter=$Action_alter&codpedselect=$codpedselect&placaSelect=$placaSelect"; ?>"><img src="<? echo DIR_IMAGES; ?>/btguardarcarrinho.gif" border="0"></a></td>
  </tr>
</table>
<br>
<a name="pesq"></a>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="22" bgcolor="#F0FFF0" class="titulos_itens">PESQUISA</td>
  </tr>
  <tr>
    <td background="<? echo DIR_IMAGES; ?>/spacer.gif" bgcolor="#009966"><img src="<? echo DIR_IMAGES; ?>/spacer.gif" width="1" height="1"></td>
  </tr>
</table>
<table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
  <form action="<? echo"$PHP_SELF?pg=$pg&pg_ped=4&Action=pesquisa&Action_alter=$Action_alter&codpedselect=$codpedselect&placaSelect=$placaSelect#pesq"; ?>" method="post" name="pesq">
    <tr>
      <td class="verdenegrito">POR:</td>
      <td>Categoria</td>
      <td>Subcategoria</td>
      <td rowspan="4"><input name="imageField" type="image" src="<? echo DIR_IMAGES; ?>/btpesquisarverde.gif" width="87" height="25" border="0"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><select name="cjPesq" class="campoquant2" id="cjPesq" onChange=changePesq()>
                    <option value="...">Escolha a categoria</option>
<?
	for($i = 0; $i < count($array_pesq); $i++ ){
	$u = $i+1;
?>
                <option value="<? echo"$u"; ?>"><? echo"$nomecatp[$i]"; ?></option>
 <?
	}//FOR
?>
            </select></td>
      <td><select name="pesqSelect" class="campoquant2">
                    <option value="">Escolha a subcategoria</option>
		    <option value="">Selecione a categoria</option>
                </select></td>
    </tr>
    <tr>
      <td class="verdenegrito">POR:</td>
      <td>Cod.</td>
      <td>Produto</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>
        <input name="codprodselect" type="text" class="campoquant2" size="5">
      </strong></td>
      <td><input name="palavrachave" type="text" class="campoquant2"></td>
    </tr>
	<input type="hidden" name="placaSelect" value="<? echo"$placaSelect"; ?>">
	<input type="hidden" name="codpedselect" value="<? echo"$codpedselect"; ?>">
  </form>
</table>
<br>
<table width="100%"  border="0" align="center" cellpadding="3" cellspacing="0">
  <tr class="titulos_itens">
    <td align="center">Cod.</td>
    <td>Produto</td>
    <td align="center">Gar<br>
      (M&ecirc;s)</td>
    <td align="center">Cor</td>
    <td align="center">Pre&ccedil;o</td>
    <td align="center">Pos. Est. </td>
    <td align="center">Plano</td>
    <td colspan="2" align="center">Qtde</td>
  </tr>
  <form action="<? echo"$PHP_SELF?pg=$pg&pg_ped=7"; ?>" method="post" name="form3" target="iprodutoadcmicro">

 <?
	for($i = 0; $i < count($array2); $i++ ){


if (($relacao_prod_pl[$i]  <> 0 AND $restricao_pl[$i] == 'OK') OR $restricao_pl[$i] <> 'OK'){

if ($xcodcat <> $codcat[$i]){

?>
  <tr class="titulos_cat2">
    <td colspan="8"><? echo"$nomecat[$i]"; ?></td>
    <td align="center" class="titulos_cat2"><img src="<? echo DIR_IMAGES; ?>/topo2.gif" width="40" height="15"></td>
  </tr>
 <?

}
$xcodcat = $codcat[$i];

if ($xcodsubcat <> $codsubcat[$i]){
?>

  <tr>
    <td colspan="9" class="titulos_subcat2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<? echo"$nomesubcat[$i]"; ?></td>
  </tr>
<?


}
$xcodsubcat = $codsubcat[$i];


//ESTOQUE
$oc_u=0;
if ($est[$i] > 0){$img=DIR_IMAGES."/est_pos_ok.gif";}
if (($est[$i] == 0 OR $est[$i] < 0) and $qtde_oc[$i] > 0){$img=DIR_IMAGES."/note_icon.gif";$oc=$qtde_oc[$i];$oc_u=1;}
if (($est[$i] == 0 OR $est[$i] < 0) and $qtde_oc[$i] <= 0){$img=DIR_IMAGES."/est_pos_no.gif";}

if ($restricao_view[$i] <> 1){

?>

    <tr onMouseOver="this.bgColor='#FFDBB7'" onMouseOut="this.bgColor ='#FFFFFF'" bgcolor="#FFFFFF">
      <td align="center"><? echo"$codprod[$i]"; ?></td>
      <td><span class="nomeprod1"><a href="javascript:void(0);" onClick="MM_openBrWindow('<? echo"$PHP_SELF?pg=$pg&pg_ped=17&codpedselect=$codpedselect&codprodselect=$codprod[$i]"; ?>','Detalhes','scrollbars=yes,width=550,height=400')"><? echo"$nomeprod[$i]"; ?></a></span><br>
          <span class="nomeprod2"><? echo"$descres[$i]"; ?></span></td>
      <td align="center"><span class="nomeprod1"><?if ($estrela[$i] ==1){ echo "<img src='".DIR_IMAGES."/estrela.gif' width='13' height='13'>";}?><BR><? echo"$gar_cj[$i]"; ?></span></td>
      <td align="center"><?
if ($mostra_cor[$i] <> "1") {
echo "
<table  border='0' align='center' cellpadding='2' cellspacing='2'>
  <tr>
    <td><table  border='0' cellpadding='0' cellspacing='0' bgcolor='$cor1_prod[$i]'>
      <tr>
        <td style='$borda_cor1[$i]'><img src='".DIR_IMAGES."/fcor.gif' width='10' height='10'></td>
      </tr>
    </table></td>
    <td><table  border='0' cellpadding='0' cellspacing='0' bgcolor='$cor2_prod[$i]'>
      <tr>
        <td style='$borda_cor2[$i]'><img src='".DIR_IMAGES."/fcor.gif' width='10' height='10'></td>
      </tr>
    </table></td>
  </tr>
</table>
";
}
?></td>
      <td align="center" class="nomeprod1"><? echo"$precof[$i]"; ?></td>
      <td align="center" class="nomeprod1"><a class="info" href="#"><img src="<? echo"$img"; ?>" border = "0"><? if ($oc_u == 1){?><span>DATA PREVISÃO: <? echo"$dataprev_ocf[$i]"; ?></span><?}?><BR><? echo"$oc"; ?></a></td>
      <td align="center" class="nomeprod1"><?
	  if 	($sub_array_plano[$i] <> 0){
	  ?>
        <select name="plano_select[<? echo"$codprod[$i]"; ?>]" class="campoquant3" id = "plano_select[<? echo"$codprod[$i]"; ?>]">
          <?

	  for($j = 0; $j < $sub_array_plano[$i]; $j++ ){
	  
	  $codplano_p = $codplano[$i][$j];
	  $plano_p = $plano[$i][$j];
	  $desconto_p = $desconto[$i][$j];
	  
	  	   
?>
          <option value = '<? echo "$codplano_p:$desconto_p" ?>'><? echo "$plano_p" ?></option>
          <?
}//FOR
?>
        </select>
        <?}
	else{
?>
        <input type="hidden" name="plano_select[<? echo"$codprod[$i]"; ?>]" value="0:0" id = "plano_select[<? echo"$codprod[$i]"; ?>]">
        <?
}
	?></td>
      <td align="center" class="nomeprod1"><input name="qtde[<? echo"$codprod[$i]"; ?>]" type="text" class="campoquant" value="0" size="2" maxlength="3" id = "qtde[<? echo"$codprod[$i]"; ?>]"></td>
      <td align="center" class="nomeprod1"><input name="imageField" type="image" src="<? echo DIR_IMAGES; ?>/btcarrinhoadd.gif" alt="Adicionar Produto" width="17" height="14" border="0" onClick='doTwo(form3, <? echo"$codcat[$i]"; ?>, <? echo"$codprod[$i]"; ?>, <? echo"$codcjselect"; ?>, <? echo"$preco[$i]"; ?>, <? echo"$codpedselect"; ?>, <? echo"$codtipocjselect"; ?>,<? echo"$ordem[$i]"; ?> )'></td>
    </tr>

  <?
}
}
$img = "";
$oc = "";
	}//FOR
?>

  </form>
</table>
</td>
  </tr>
</table>
</body>
</html>
